/* SPDX-License-Identifier: Apache-2.0
 * UART input on P1.10 (RX) using uart135.
 * Uses cpuapp_dma_region (non-cacheable) so EasyDMA and CPU see the same RX
 * data. dma_fast_region is cacheable and can yield stale/wrong bytes on read.
 */

/* GPIO port 1 required for uart135 pins (P1.10 RX, P1.11 TX) */
&gpio1 {
	status = "okay";
};

&uart135 {
	status = "okay";
	memory-regions = <&cpuapp_dma_region>;
	current-speed = <115200>;
	pinctrl-0 = <&uart135_default>;
	pinctrl-1 = <&uart135_sleep>;
	pinctrl-names = "default", "sleep";
};
